@import "reset.css";
body{
    
    background-color: rgb(61, 60, 75);
    color:rgb(255, 255, 255);
    font-family: cursive;
    text-align: justify;
    line-height: 38px;
    height: 500px;
    
}
.clockSize{
    font-size: xx-large;
}
.weatherSize{
    font-size: large;
}
.toDoSize{
    font-size: small;
}

.clicked{
    color: beige;
    transition:color 0.5s ease-in-out;
}
.js-weather{
    align-items: baseline;
}
.form,
.greetings{
    display:none;
}
.showing{
    display:block;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.bgImage{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    z-index:-1;
    animation:fadeIn 0.5s linear;
}